
    .row-header {
    margin: 0px auto;
    padding: 0px auto;
    }

    .row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    }

    .footer {
    background-color: #530000;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    }

    .jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(161, 0, 0);
    color: white;
    }   

    .address {
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
    }

    body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: #000000;
    color: white;
    font-family: "Maven Pro";

    }

    .navbar-dark {
    background-color: #530000;
    }

    h1 {
      color: orange;
      font-family: "Kaushan Script";
    }

    h2 {
      color: green;
      font-family: "Quicksand";
    }

    h3 {
      color: green;
      font-family: "Kalam";
      font-style: bold;
    }

    h4 {
      color: darkgreen;
    }

    h5 {
      color: orange;
    }
    a {
      color: gold;
    }
    a:hover {
      color: black;
    }

    .card {
      background-color: black;
      margin: 5px 0;
      text-align: center;
    }

    .card-img-top {
      width: 125px;
      height: auto;
    }